@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}

table{
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
}

td, th{
  border:thin dotted grey;
  padding:5px;
}

th{
  background-color: #cc6600;
}

caption{
  font-style: italic;
  padding-top: 8px;
}

.data1{
  text-align: center;
}

.data2{
  text-align: right;
}


.cellcolor{
  background-color: #fcba7a;
}

/*
tr:nth-child(2n+1){
  background-color: #fcba7a;
}
*/

table table th{
  background-color: white;
}

li{
  list-style-image: url(images/backpack.gif);
  padding-top: 5px;
  margin-left: 20px;
}