<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-if指令</title>
</head>
<body>
    <!-- 2. html结构 -->
    <div id="app">
        <input type="button" value="switch Tab" @click="toggleIsShow">
        <p v-if="true">我是一个p标签</p>
        <p v-if="isShow">我是一个p标签</p>
        <p v-show="isShow">我是一个p标签 -v-show</p>
        <h2 v-if='temperature >= 35'>So Hotttttt!!!!!</h2>
    </div>
    <!-- 1. 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
<script>
    // 3. 创建Vue实例
    var app = new Vue({
        el:"#app",
        data:{
            isShow:false,
            temperature:20
        },
        methods:{
            toggleIsShow:function(){
                this.isShow = ! this.isShow
            }
        }
    })
</script>
</html>